@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1 style="margin-bottom:30px">Bine ați venit la Cabinetul Veterinar PetLife!</h1>
<div style="display:flex;gap:30px">
    <div>
        <img src="~/css/scholarship_2016.jpg" style=" margin-right: 20px;margin-top:40px; max-width: 300px; height: auto;"/>
    </div>
    
    <div >
       
        <p>
            Suntem dedicați să oferim cele mai bune servicii medicale pentru animalele de companie, contribuind astfel la bunăstarea și sănătatea acestora. La Cabinetul Veterinar PetLife, ne preocupăm profund de fiecare animal și de legătura specială pe care o au cu stăpânii lor.
        </p>
        <br />
        <p>
            Echipa noastră de medici veterinari și personal calificat este aici pentru a vă oferi îngrijiri veterinare de înaltă calitate. Cu experiență vastă și o abordare empatică, ne străduim să oferim soluții medicale inovatoare și tratamente personalizate pentru fiecare pacient.
        </p>
        <br />
        <p>
            La Cabinetul Veterinar PetLife, punem accent pe comunicare și relaționare deschisă cu clienții noștri. Ne dorim să vă oferim informații complete despre sănătatea și bunăstarea animalului dumneavoastră și să vă sprijinim în luarea deciziilor pentru îngrijirea optimă a acestuia.
        </p>
        <br />
        <p>
            Indiferent dacă aveți nevoie de o consultație de rutină, îngrijire medicală de urgență sau orice alt serviciu veterinar, suntem aici să vă ajutăm și să vă oferim soluții adaptate nevoilor specifice ale animalului dumneavoastră.
        </p>
        <br />
        <p>
            Vă invităm să ne vizitați la cabinet pentru a vă întâmpina cu drag și pentru a vă oferi servicii veterinare de încredere și de cea mai bună calitate.
        </p>
        <br />
        <p>
            Cu dragoste pentru animale și angajament pentru sănătatea lor,

            Echipa Cabinetului Veterinar PetLife
        </p>
    </div>
</div>
